.backgroundLogin {
  background: #6379f4;
  height: 100vh;
}

.formStyle h5 {
  font-weight: 700;
  /* letter-spacing: 0.2px; */
  line-height: 35px;
}

.formStyle p {
  font-size: 13px;
  line-height: 25px;
}

.formStyle input {
  border: none;
}

.containerSize {
  border-bottom: 1px solid rgba(169, 169, 169, 0.6);
}

.containerSize i {
  color: rgba(169, 169, 169, 0.6);
  cursor: pointer;
}

.buttonSubmit {
  background: #dadada !important;
  border: none;
  padding: 0.8rem 0;
  font-weight: 700;
}

.buttonSubmitSuccess {
  background: #6379f4 !important;
  border: none;
  padding: 0.8rem 0;
  font-weight: 700;
  color: white;
}
