.containerUser {
  width: 70px;
  height: 70px;
}

.containerInput {
  height: 65vh;
}

.containerInput2 {
  height: 50vh;
}

.containerInput2 input {
  border: none;
  width: 300px;
}

.containerInput2 input:first-child::placeholder {
  text-align: center;
  font-size: 5rem;
}

.containerInput2 input:first-child {
  text-align: center;
  font-size: 5rem;
}

.containerInput2 input:last-child {
  text-align: center;
  font-size: 1rem;
  text-align: start;
}
.containerInput2 input:focus {
  outline: none;
}
